<md-dialog aria-label="Nieuwe speler">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nieuwe speler</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <div class="dialog-content">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Voornaam</label>
          <input required ng-model="vm.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Tussenvoegsel</label>
          <input ng-model="vm.surNamePrefix">
        </md-input-container>
        <md-input-container flex>
          <label>Achternaam</label>
          <input required ng-model="vm.surName">
        </md-input-container>
      </div>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="vm.cancelCreatePlayer()">Annuleren</md-button>
    <md-button ng-click="vm.createPlayer()" class="md-primary">Aanmaken</md-button>
  </div>
</md-dialog>
