<ion-view cache-view="true">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="vmNav.toggleSidenav()" aria-label="NavigationMenu">
        <i class="mdi mdi-menu"></i>
      </md-button>
      <h2>
          <span>{{vm.title}}</span>
        </h2>
      <span flex></span>
      <md-menu md-offset="0 75" md-position-mode="target-right target">
        <md-button class="md-icon-button" aria-label="right-menu" ng-click="$mdOpenMenu()">
          <md-icon md-svg-src="main/assets/images/soccer_shirt.svg" class="list-header-icon white" alt="Freepik from http://www.flaticon.com"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="t in vm.registeredTeams">
            <md-button ng-click="vm.changeSelectedTeam(t)" ng-disabled="vm.selectedTeam.TeamID == t.TeamID">
              <span>{{t.TeamName}}</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <ion-content>
    <md-tabs md-dynamic-height class="md-primary">
      <!-- <md-tab ng-repeat="team in vm.trainingOverview | groupBy:'TeamName' | toArray:true" label="{{team.$key}}">
        <md-list>
          <md-list-item>
            <div class="row">
              <div flex="10" class="bold">#</div>
              <div flex class="bold">Speler</div>
              <div flex="20" class="bold right">Opkomst</div>
              <div flex="20" class="bold right">%</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item md-no-ink ng-repeat="p in team | orderBy:'-AttendedPercentage'" ng-click="showPlayerDetails(p.PlayerID)">
            <div class="row">
              <div flex="10">{{$index + 1}}.</div>
              <div flex>{{p.PlayerName}}</div>
              <div flex="20" class="right">{{p.HasAttended}} / {{p.CouldAttend}}</div>
              <div flex="20" class="bold right">{{p.AttendedPercentage | number:0}}%</div>
            </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-tab> -->
      <md-tab label="Opkomst">
        <md-subheader>{{vm.selectedTeam.TeamName}}</md-subheader>
        <md-list>
          <md-list-item>
            <div class="row">
              <div flex="10" class="bold">#</div>
              <div flex class="bold">Speler</div>
              <div flex="25" class="bold right">Opkomst</div>
              <div flex="15" class="bold right">%</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item md-no-ink ng-repeat="p in vm.trainingOverview | orderBy:['-AttendedPercentage', 'SurName', 'FirstName']" ng-click="vm.showPlayerDetails(p.PlayerID)">
            <div class="row">
              <div flex="10">{{$index + 1}}.</div>
              <div flex>{{p | fullname}}</div>
              <div flex="25" class="right">{{p.HasAttended}} / {{p.CouldAttend}}</div>
              <div flex="15" class="bold right">{{p.AttendedPercentage | number:0}}%</div>
            </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-tab>
      <md-tab label="Trainingen">
        <md-subheader>{{vm.selectedTeam.TeamName}}</md-subheader>
        <md-list>
          <md-list-item>
            <div class="row">
              <div flex class="bold">Trainingsdatum</div>
              <div flex-gt-sm="10" flex-sm="25" class="bold right">Opkomst</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item md-no-ink ng-repeat="t in vm.trainings | orderBy:'-TrainingDate'" ng-click="vm.showTrainingDetails(t.TrainingID)">
            <div class="row">
              <div flex>{{t.TrainingDate | date: "dd-MM-yyyy"}}</div>
              <div flex-gt-sm="10" flex-sm="25" class="bold right">{{t.TotalAttended == 0 ? "-" : t.TotalAttended}}</div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tabs>
  </ion-content>
</ion-view>
